---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import Partners from '../components/Partners.astro';
import Columns from '../components/Columns.astro';
import Platforms from '../components/Platforms.astro';
import Entries from '../components/Entries.astro';
import About from '../components/About.astro';
import Membership from '../components/Membership.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <Partners />
    <Columns />
    <Platforms />
    <Entries />
    <About />
    <Membership compact />
    <Contact />
  </main>
  <Footer />
</Layout>
